@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
body {
    font-family: 'Fira Sans';
}

#name {
    color: red;
    font-size: 2.5em;
}

ol {
    font-size: 1.3em;
    line-height: 150%;
}

